@charset "utf-8";
/* CSS Document */

@import url("characters/monika.css");
@import url("characters/sayori.css");
@import url("characters/natsuki.css");
@import url("characters/yuri.css");

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
	display: table;
    position: absolute;
	background-color: #ffbde1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img, a, svg {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

svg {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
}

@font-face {
font-family: RifficFree-Bold;
src: url(fonts/RifficFree-Bold.ttf);
}

.frame {
	padding: 0;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
	overflow: hidden;
}

.fade-wrapper {
	height: 720px;
	width: 1280px;
	margin: auto;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	position: absolute;
	background-color: white;
	will-change: opacity;
	opacity: 0;
	-webkit-animation:fadein .56s 1.002s ease-out forwards;
			animation:fadein .56s 1.002s ease-out forwards;
			-moz-animation:fadein .56s 1.002s ease-out forwards;
			-o-animation:fadein .56s 1.002s ease-out forwards;
	z-index: 10;
	visibility: visible;
}

@-webkit-keyframes fadein {
  0% {opacity:0.75;}
  100% {opacity:0; visibility: hidden;}
}
@keyframes fadein {
  0% {opacity:0.75;}
  100% {opacity:0; visibility: hidden;}
}
@-moz-keyframes fadein {
  0% {opacity:0.75;}
  100% {opacity:0;  visibility: hidden;}
}
@-o-keyframes fadein {
  0% {opacity:0.75;}
  100% {opacity:0; visibility: hidden;}
}

.wrapper {
	height: 720px;
	width: 1280px;
    margin: 0 auto; 
	overflow: hidden;
	background-color: #ffffff;
	background-image:
    radial-gradient(#fee6f4 40px, transparent 0), 
    radial-gradient(#fee6f4 40px, transparent 0);
	background-size: 200px 200px;
	background-position: 0 0, 100px 100px;
	-webkit-animation-name: backgroundmovement;
	animation-name: backgroundmovement;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	
}

  @keyframes backgroundmovement {
    0% { background-position: 0px 0px, 100px 100px;}
    100% {background-position: -100px -100px, 0px 0px;}
}

.menu {
	height: 720px;
	width: 310px;
	margin: 0;
	float: left;
	overflow: visible;
	position: relative;
	z-index: 5;
	background: url(images/Doki_Doki_HalfCircle.svg) no-repeat right;
    /*background-size: 720px;
	/*animation-name: slide-in;
	/*animation-duration: .6s;
	/*animation-iteration-count: once;
	/*animation-timing-function: ease-out;*/
	-webkit-animation: slide-in-left .62s both;
	        animation: slide-in-left .62s both;
}

@-webkit-keyframes slide-in-left {
  0% {background-position: -310px;}
  100% {background-position: 100%;}
}

@keyframes slide-in-left {
  0% {background-position: -310px;}
  100% {background-position: 100%;}
}

#bounce-in-top {
	-webkit-animation: bounce-in-top 1.4s .47s both;
	        animation: bounce-in-top 1.4s .47s both;
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-310px);
            transform: translateY(-310px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  55% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    -webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-12.5px);
            transform: translateY(-12.5px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
  
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-310px);
            transform: translateY(-310px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  55% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
    -webkit-animation-timing-function: ease-in;
			animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-12.5px);
            transform: translateY(-12.5px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

p {
  margin-bottom: 28.5px; /* between paragraphs */
  margin-top: 13.5px;
  }

.menu_text {
	height: 196px;
	width: 142px;
	margin: 0;
	top: 416px;
	left: 85px;
	position: absolute;
	background-color: none;
	font-family: RifficFree-Bold;
	font-size: 24px;
	line-height: 0px;
	text-indent: 3.5px;
	letter-spacing: 1.25px;
	word-spacing: -1.75px;
	color: white;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke: 7px #bb5599;
	-moz-text-stroke: 7px #bb5599;
	text-stroke: 7px #bb5599;
}

.menu_text2 {
	height: 196px;
	width: 142px;
	margin: 0;
	top: 416px;
	left: 85px;
	position: absolute;
	background-color:  none;
	font-family: RifficFree-Bold;
	font-size: 24px;
	line-height: 0px;
	text-indent: 3.5px;
	letter-spacing: 1.25px;
	word-spacing: -1.75px;
	color: white;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	pointer-events: none;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color: white;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke: 7px #bb5599;
	-moz-text-stroke: 7px #bb5599;
	text-stroke: 7px #bb5599;}

a:hover { 	
	-webkit-text-stroke: 7px #ffbde1;
	-moz-text-stroke: 7px #ffbde1;
	text-stroke: 7px #ffbde1; }
	
.menu_list {
	height: 320px;
	width: 142px;
	top: 400px;
	left: 85px;
	position: absolute;
	background-color: none;
}

.menu_button {
	height: 42px;
	width: 142px;
	margin: 0;
	position: relative;
	float: left;
	background-color: none;
	overflow: visible;
	}
	
.menu_button img {
	bottom: 0px;
	position: absolute;
	}

.link {
	display: inline-block;
}

.link .button_state2 {
 	display: none;
}

.link:hover .button_state1,
.link:active .button_state1 {
 	display: none;
}

.link:hover .button_state2,
.link:active .button_state2 {
 	display: block;
}

.content {
	height: 720px;
	width: 970px;
	margin: 0;
	float: left;
	overflow: visible;
	/*background-color: #ffffff;*/
	position: relative;
}

.overlay {
	height: 720px;
	width: 1280px;
	margin: 0 auto;
	position: fixed;
    background: rgba(255,255,255,.5);
	visibility: hidden;
	opacity: 0;
	text-align: center;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
	z-index: 15;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	background-color: #ffe6f4;
	border: 3px solid #ffbde1;
	display: inline-block;
	padding: 24px;
}

@font-face {
	font-family: Aller_Rg;
	src: url(fonts/Aller_Rg.ttf);
}

.popup_text {
	font-family: Aller_Rg;
	/* font-family: "Bitstream Vera Sans", sans-serif;*/
	font-size: 24px;
	color: black;
	margin: 12px 0px 21px 0px;
	background-color: none;
	-webkit-transform:scale(.99,1); /* Safari and Chrome */
    -moz-transform:scale(.99,1); /* Firefox */
    -ms-transform:scale(.99,1); /* IE 9 */
    -o-transform:scale(.99,1); /* Opera */
    transform:scale(.99,1); /* W3C */
}

@font-face {
	font-family: Aller_Bd;
	src: url(fonts/Aller_Bd.ttf);
}

input {
	display: inline-block;
    border: none;
	font-family: Aller_Bd; 
    font-size: 28px;
    background: rgba(255,255,255,0);
	margin: 7px 4px 28px 4px;
	color: #bb5599;
	text-align: center;
	letter-spacing: 0px;
	word-spacing: -1.75px;
	/*color: white;*/
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke: 1.5px #554d51;
	-moz-text-stroke: 1.5px #554d51;
	text-stroke: 1.5px #554d51;
}

input:active { 
}

textarea:focus, input:focus, *:focus{
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: .25;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: .25;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: .25;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: .25;
}

.popup_choice {
	height: 18px;
	width: 150px;
    display: inline-block;
	margin: 9px 0px 23px 0px;
	background-color: none;
	overflow: visible;
	position: relative;
	}

.popup_choice img {
	position: relative;
    margin: -5px auto 5px;
	}
	




