.natsuki {
	height: 600px;
	width: 205px;
	top: 79px;
	left: 341px;
	position: absolute;
	overflow: visible;
	visibility: hidden;
	-webkit-animation: rise-up-n 1.98s .077s forwards;
			animation: rise-up-n 1.98s .077s forwards;
}

@-webkit-keyframes rise-up-n {
  0% {
    -webkit-transform: translateY(702px) scale(.75);
            transform: translateY(702px) scale(.75);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
	visibility: visible;
			
}
  50% {
    -webkit-transform: translateY(100px) scale(.93);
            transform: translateY(100px) scale(.93);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
	visibility: visible;
}
  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
	visibility: visible;
  }
}

@keyframes rise-up-n {
  0% {
    -webkit-transform: translateY(702px) scale(.75);
            transform: translateY(702px) scale(.75);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
	visibility: visible;
			
}
  50% {
    -webkit-transform: translateY(100px) scale(.93);
            transform: translateY(100px) scale(.93);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
	visibility: visible;
}
  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
	visibility: visible;
  }
}