.sayori {
	height: 716px;
	width: 252px;
	top: 142px;
	left: 122px;
	position: absolute;
	overflow: visible;
	visibility: hidden;
	-webkit-animation: rise-up-s 1.99s .169s forwards;
			animation: rise-up-s 1.99s .169s forwards;
}

@-webkit-keyframes rise-up-s {
  0% {
    -webkit-transform: translateY(702px) scale(.75);
            transform: translateY(702px) scale(.75);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
	visibility: visible;
			
}
  50% {
    -webkit-transform: translateY(165px) scale(.90);
            transform: translateY(165px) scale(.90);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
	visibility: visible;
}
  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
	visibility: visible;
  }
}

@keyframes rise-up-s {
  0% {
    -webkit-transform: translateY(702px) scale(.75);
            transform: translateY(702px) scale(.75);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
	visibility: visible;
			
}
  50% {
    -webkit-transform: translateY(165px) scale(.90);
            transform: translateY(165px) scale(.90);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
	visibility: visible;
}
  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
	visibility: visible;
  }
}