.yuri {
	height: 626px;
	width: 262px;
	top: 19px;
	left: 157px;
	position: absolute;
    overflow: visible;
	visibility: hidden;
	-webkit-animation: rise-up-y 1.98s .002s forwards;
			animation: rise-up-y 1.98s .002s forwards;
}

@-webkit-keyframes rise-up-y {
  0% {
    -webkit-transform: translateY(702px) scale(.75);
            transform: translateY(702px) scale(.75);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
	visibility: visible;
			
}
  50% {
    -webkit-transform: translateY(43.875px) scale(.90);
            transform: translateY(43.875px) scale(.90);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
	visibility: visible;
}
  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
	visibility: visible;
  }
}

@keyframes rise-up-y {
  0% {
    -webkit-transform: translateY(702px) scale(.75);
            transform: translateY(702px) scale(.75);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
	visibility: visible;
			
}
  50% {
    -webkit-transform: translateY(43.875px) scale(.90);
            transform: translateY(43.875px) scale(.90);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
	visibility: visible;
}
  100% {
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
	visibility: visible;
  }
}